<h3>Paises </h3>
<hr>

<ul class="list-group">

    <!-- <li routerLink='home' class="list-group-item">
        Home Page
    </li>
    <li routeLink='about' class="list-group-item active">
        About Page
    </li>
    <li routeLink='contact' class="list-group-item  ">
        Contact Page
    </li> -->
    <li routeLink='countries/by-capital' class="list-group-item  ">
        Por Capital
    </li>
    <li routeLink='countries/by-country' class="list-group-item  ">
        Por Pais
    </li>
    <li routeLink='countries/by-region' class="list-group-item  ">
        Por region
    </li>
</ul>